.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.dropdown {
    flex-grow: 1
  }